body{
  background-color: #F3F4ED;
  margin:0px;
  font-family: sans-serif;
}
.bottom-container{
  position: relative;
  text-align: center;
  background-color: #536162;
  padding: 50px 0 20px;
}
.copyright{
  font-size: 0.75rem;
  padding: 20px 0;
  color: grey;
}
.footer-link{
  color: #F3F4ED;
}

h1{
  text-align: center;
  font-size: 2rem;
  margin-top: 200px;
  color: #424642;
  font-family: sans-serif;
  margin: 200px auto 100px auto;
}

p{
  width: 60%;
  line-height: 2;
  margin: 20px auto 20px auto;
}
