
.top-container{
  position: relative;
  background-color: #F3EFE0;
  padding-top: 100px;
  height: 610px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  position: relative;
  background-color: #536162;
  padding: 50px 0 20px;
  color: grey;
}
.subtitle{
  font-family: monospace;
}

.intro{
  width: 50%;
  margin: auto;
}
.kung{
  margin: auto;
}


h1{
  font-size: 2rem;
  margin-top: 50px;
  color: #434242;
  font-family: monospace;

}
h2{
  font-size:1.5rem;
  color: #434242;
  font-weight: normal;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;

}
body{
  background-color: #FDFAF6;
  color: #434242;
  margin:0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}
p{
  line-height: 2;
}
hr{
  border: dotted #E5DCC3 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #434242;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: ;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 350px;
}
.mountain{
  position: absolute;
  bottom: 0;
  right: 300px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  padding: 10px;
}
.skill-row-final{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 0px;

}
.skill-image-1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-image-2{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-image-3{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  font-size: 0.75rem;
  padding: 20px 0;
  color: grey;
}
.footer-link{
  color: #F3F4ED;
}
.footer-link:hover{
  color: grey;
}

.my-story-BTN {
  position: relative;
  top: 50px;
  margin: auto;
  background: #FC8621;
  background-image: -webkit-linear-gradient(top, #FC8621, #682C0E);
  background-image: -moz-linear-gradient(top, #FC8621, #682C0E);
  background-image: -ms-linear-gradient(top, #FC8621, #682C0E);
  background-image: -o-linear-gradient(top, #FC8621, #682C0E);
  background-image: linear-gradient(to bottom, #FC8621, #682C0E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #F9E0AE;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.my-story-BTN:hover {
  background: #F2A154;
  text-decoration: none;
}
.translated-BTN {
  position: relative;
  top: 50px;
  left: 250px;
  margin: auto;
  background: #FC8621;
  background-image: -webkit-linear-gradient(top, #FC8621, #682C0E);
  background-image: -moz-linear-gradient(top, #FC8621, #682C0E);
  background-image: -ms-linear-gradient(top, #FC8621, #682C0E);
  background-image: -o-linear-gradient(top, #FC8621, #682C0E);
  background-image: linear-gradient(to bottom, #FC8621, #682C0E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #F9E0AE;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.translated-BTN:hover {
  background: #F2A154;
  text-decoration: none;
}



/*My Story Page*/

.my-story-body{
  background-color: #F3EFE0;
  margin:0px;
  font-family: sans-serif;
}

.my-story-h1{
  text-align: center;
  font-size: 2rem;
  margin-top: 200px;
  color: #434242;
  font-family: sans-serif;
  margin: 200px auto 100px auto;
}

.story{
  text-align: left;
  width: 60%;
  line-height: 2;
  font-weight: 300;
  margin: 20px auto 20px auto;
}

/*Translated page*/
.book{
  padding-top:100px;
}


.TAW-E{
  position: relative;
  height: 200px;
  margin-right: 150px;
  left: 30px;
}
.TAW-C{
  height: 200px;
}
.arrow1{
  position: relative;
  bottom: 60px;
  right: 40px;
  width: 50px;
}

.TTM-E{
    height: 200px;
    margin-right: 150px;
}
.TTM-C{
  height: 200px;
}
.arrow2{
  position: relative;
  bottom: 60px;
  right: 70px;
  width: 50px;
}

.TGA-E{
  position: relative;
  height: 200px;
  margin-right: 150px;

}
.TGA-C{
  height: 200px;
}

.arrow3{
  position: relative;
  bottom: 60px;
  right: 70px;
  width: 50px;
}

.CA-E{
  position: relative;
  height: 200px;
  margin-right: 150px;

}
.CA-C{
  height: 200px;
}

.arrow4{
  position: relative;
  bottom: 60px;
  right: 70px;
  width: 50px;
}

.HOAX-E{
  position: relative;
  height: 200px;
  margin-right: 150px;

}
.HOAX-C{
  height: 200px;
}

.arrow5{
  position: relative;
  bottom: 60px;
  right: 70px;
  width: 50px;
}

.HNTDA-E{
  position: relative;
  height: 200px;
  margin-right: 150px;

}
.HNTDA-C{
  height: 200px;
}

.arrow6{
  position: relative;
  bottom: 60px;
  right: 70px;
  width: 50px;
}

.HST-E{
  position: relative;
  height: 200px;
  margin-right: 150px;

}
.HST-C{
  height: 200px;
}

.arrow7{
  position: relative;
  bottom: 60px;
  right: 70px;
  width: 50px;
}
.translated-h1{
  font-family: sans-serif;
  margin-bottom: 50px;
}

.earth{
  margin-top: 70px;
  width: 10%;
}
.quote{
  margin-top: 50px;
  font-weight: 300;
  font-size: 1.25rem;
}
.translated-body{
  background-color: #FDFAF6;
}
